@font-face {
    font-family: 'HYK2GJ';
    src: url('HYK2GJ.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'N2DB';
    src: url('N2DB.ttf');
    font-weight: normal;
    font-style: normal;
}

