@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: url("../assets/homePageBg.png") no-repeat center center fixed;
    background-size:cover;
    min-width: 1080px;
    overflow: scroll;
}

.container_body {
    padding: 40px 1%;
    color: white;
    margin: 0px;
}
.container_body .video_list .video_box{
    margin: 20px -5px;
}
.container_body .video_box img {
    width: 100%;
}
.container_body .video_box .video {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.102);
    padding: 2%;
    cursor: pointer;
}
.container_body .video_box .video .video_time, .container_body .video_box .video .video_status {
    float: right;
}
.container_body .video_box .video .not_download {
    color: rgb(25, 236, 236);
    border: 1px solid rgb(25, 236, 236);
    padding: 0px 15px;
    border-radius: 5px;
}
.container_body .video_box .video.active{
    background: url("../assets/active_mv_bg_top.png") top no-repeat,
    url("../assets/active_mv_bg_bottom.png") bottom no-repeat;
    background-size: contain;
    padding: 3px;
    font-family: "Microsoft YaHei";
    color: rgb(25, 236, 236);
    margin-top: -2%;
}

.container_body .video_box .video.active .acttive_bg{
    background: url("../assets/active_mv_bg_center.png") 0 10px;
    background-size: contain;
    padding: 2%;
    border-radius: 5px;
}
.container_body .video_box .video_info {
    margin-top: 2%;
    padding: 1%;
}
.container_body .video_box .video.active .video_info {
    margin-top: 2%;
    padding: 2% 0px;
}

.container_body.cinema_resource_body .video_box .video {
    cursor: auto !important;
}
.container_body.cinema_resource_body .video_box .video .not_download, .container_body.cinema_resource_body .video_box .video .video_picture {
    cursor: pointer;
}
.pagination_body .page-item {
    margin: 0px 10px;
}
.pagination_body .page-item .page-link {
    padding: 0.2rem 0.6rem;
}
.pagination_body .page-item a, .pagination_body .page-item .page-link {
    border-width: 1px;
    color: white;
    border-style: solid;
    border-radius: 5px;
    background: rgb(0, 0, 0);
    color: white;
    box-shadow: none;
}
.pagination_body {
    text-align: center;
    margin-right: 40px;
    margin-top: 3%;
}
.pagination_body nav {
    display: inline-block;
}

.pagination_body .page-item.active a, .pagination_body .jump_btn {
    color: rgb(25, 236, 236);
    border-width: 1px;
    border-color: rgba(25, 236, 236, 0.7);
    border-style: solid;
    border-radius: 5px;
    box-shadow: none;
    display: inline-table;
}
.pagination_body .jump_btn {
    padding: 0.2rem 1rem;
    text-decoration: none;
    margin-left: 20px;
}
.pagination_body .jump_to {
    width: 40px;
    border-width: 1px;
    border-color: rgba(25, 236, 236, 0.7);
    border-style: solid;
    border-radius: 5px;
    background: rgb(0, 0, 0);
    margin: 0px 5px;
    color: white;
    padding: 0px 5px;
}
.header .set_body .dropdown-item {
    font-size: 20px;
    font-family: "Microsoft YaHei";
    color: white;
    padding: 0.8rem 1.5rem;
}
.header .set_body .dropdown-item:not(:last-child) {
    border-bottom: 1px solid rgb(153, 153, 153);
}
.header .set_body .dropdown-item.active {
    background-color: transparent;
}
.header .set_body .dropdown-item:hover, .header .set_body .dropdown-item:focus {
    background-color: rgb(67, 67, 67);
    outline: none;
}

.header .set_body .dropdown-menu {
    background: url("../assets/header/setting_bg.png") 0px -5px;;
    left: -90px !important;
    top: -10px !important;
    border-radius: 5px;
    padding: 0px;
}
.header .set_body .dropdown-menu {
    box-shadow: 0px 0px 5px 1px #aaa;
}
.seat .seat_body .seat_list .progress-bar {
    background-color: rgb(25, 236, 236) !important;
}
.seat .seat_body .seat_list .progress {
    background-color: transparent;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    margin-top: 12px;
}

.modal-content {
    background: url("../assets/log_bg.png");
    background-size: cover;
    border-radius: 23px !important;
    box-shadow: 0px 0px 5px 1px #aaa;
    font-family: "Microsoft YaHei";
}


.btn-primary {
  border-radius: 5px;
  background-image: -moz-linear-gradient( -90deg, rgb(97,255,255) 0%, rgb(25,236,236) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(97,255,255) 0%, rgb(25,236,236) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(97,255,255) 0%, rgb(25,236,236) 100%);
  color: black;
  width: 70%;
}

.login-form .modal-body {
    padding: 3rem;
}

.login-form .modal-header {
    color: white;
    height: 50px;
    padding-top: 10px !important;
}

.login-form .modal-header .modal-title {
    margin-left: 180px;
}

.login-form .modal-header .close {
    margin: -1rem -1rem -1rem 0px;
}

.login-form .form-control {
    width: 80%;
    color: #373737;
}

.login-form .form .btn-primary {
    width: 80%;
    color: #000 !important;
}

.login-form .form .btn-primary:hover {
    border-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.modal-body {
    text-align: center;
}
.g-loading {
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}
.g-loading > svg{
    color: rgba(97, 255, 255, 0.61);
}
